doctype html
html(lang="#{locale}")
    head
        title #{__('newPassword')}
    body
        h3 #{__('newPassword')}
        |#{__('passwordSuccessfullyUpdated')}
        |#{__('keepThisEmail')}
        br
        br
        |#{__('youCanLoginWithNextCredentials')}
        br
        |#{__('Email')} #{email},
        br
        |#{__('screenName')} #{sname},
        br
        |#{__('password')} #{password},
        br
        br
        br
        |#{__('enjoy')}
        br
        |#{__('skipeTeam')}