tr
    td #{widget.id}
    td #{widget.name}
    td $#{widget.price.toFixed(2)}
    td #{widget.desc}
    td
        a(href='/widgets/#{widget.id}/edit') Edit
    td
        a(href='/widgets/#{widget.id}') Delete
