{% extends 'AppBundle::Base.html.twig' %}
{% block content %}
  <div class="page" data-id="#logIn">
{% if passwordUpdated %}
  <p class="bg-success">
    {{ 'kpug.success.password_updated'|trans }}
  </p>
{% else %}
  {{ form_start(form) }}
    <p class="text-center">
      {{ form_errors(form) }}
      <br>
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'kpug.label.email'}}) }}
      <br>
      {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary', 'value': 'kpug.label.submit'}}) }}
    </p>
  {{ form_end(form) }}
{% endif %}
  </div>
{% endblock %}
