<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="{{ path('_index') }}">Index</a>
        |
        <a href="{{ path('homepage') }}">Homepage</a>
        |
        <a href="{{ path('random', {'limit': 25}) }}">Random 25</a>
        |
        <a href="{{ path('hello', {'name': 'Bond'}) }}">Hello Bond</a>
        |
        <a href="{{ path('hi', {'firstName': 'James', 'lastName': 'Bond'}) }}">Hi James Bond</a>
        |

        <a href="/blog">[blog]</a>
        |
        <a href="/flash">[flash]</a>
        <hr>
        Doctrine:
        <a href="{{ path('doctrineProductInitialize') }}">Initialize</a>
        |
        <a href="{{ path('doctrineProductCreate') }}">Create product</a>
        |
        <a href="{{ path('doctrineProductInitialize2') }}">Create product with category</a>
        |
        <a href="{{ path('doctrineProductShow', {'id': '1'}) }}">Show</a>
        |
        <a href="{{ path('doctrineProductShow2') }}">Show2</a>
        |
        <a href="{{ path('doctrineProductShow3') }}">Show3</a>
        |
        <a href="{{ path('doctrineProductShow4') }}">Show4</a>
        |
        <a href="{{ path('doctrineProductShow5') }}">Show5</a>
        |
        <a href="{{ path('doctrineProductUpdate') }}">Update</a>
        <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
