{% extends 'AppBundle::Base.html.twig' %}
{% block content %}
  <div class="page hide" data-id="#contribute">
    <div>
      <h4>{{ 'kpug.contribute.how_to_contribute'|trans }}</h4>
      <p>{{ 'kpug.contribute.p_1'|trans }}</p>
      <p>{{ 'kpug.contribute.p_2'|trans }}</p>
      <p>{{ 'kpug.contribute.p_3'|trans }}</p>
      <p>{{ 'kpug.contribute.p_4'|trans }}</p>
      <p>{{ 'kpug.contribute.p_5'|trans }}</p>
      <p>{{ 'kpug.contribute.p_6'|trans }}</p>
      <p>{{ 'kpug.contribute.p_7'|trans }}</p>
      <br>
      <h4>{{ 'kpug.contribute.thanks_for_contribution'|trans }}</h4>
    </div>
  </div>
{% endblock %}
