doctype html
html(lang="#{locale}")
    head
        title #{__('congratulations')}
    body
        h3 #{__('congratulations')}
        |#{__('onCreatingNewAddress')} #{email}.
        |#{__('keepThisEmail')}
        br
        br
        |#{__('youCanLoginWithNextCredentials')}
        br
        |#{__('Email')} #{email},
        br
        |#{__('screenName')} #{sname},
        br
        |#{__('password')} #{password},
        br
        br
        br
        |#{__('enjoy')}
        br
        |#{__('skipeTeam')}